.servicesSection {
    padding: 60px 20px;
    background: var(--bg);

}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

@media (max-width: 650px){
    .cardsContainer {
        flex-direction: column;
        align-items: center;
        }
    }