.servicesSection {
    padding: 60px 20px;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    width: 90%;
  
}


@media (max-width: 1000px) {
    .cardsContainer {
        gap: 35px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .cardsContainer {
        width: 85%;
    }

    .servicesSection {
        padding: 40px 15px;
    }

    .headingContainer {
        margin-bottom: 50px;
    }

    .headingUnderline {
        width: 70px;
        height: 2px;
        margin-top: 10px;
    }
}
