.experienceSection {
    width: 100vw;
    min-height: 100vh;
    background: var(--bg);
    padding: 50px 0px;
}

.timelineContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: min-content;
    z-index: 100;
}

.tLine1 {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: gray;
    z-index: 200;
}

.tLine2 {
    position: absolute;
    top: 0;
    width: 1px;
    height: 50%;
    background: linear-gradient(to top, transparent, #0e60b3);
    z-index: 300;
}

.progressLine {
    position: absolute;
    top: 0;
    width: 2px;
    height: 0;
    background-color: #0e60b3;
    z-index: 500;
    transition: height 0.3s ease;
}

.tCircle,
.movingCircle {
    position: absolute;
    transform: translateX(-50%);
    height: 11px;
    width: 11px;
    border-radius: 50%;
}

.tCircle {
    border: 1px solid gray;
    background: var(--bg);
    z-index: 400;
    transition: background 0.3s ease;
    box-shadow: 0 0 8px rgba(14, 96, 179, 0.4);
}

.filled {
    background: #0e60b3;
   
}

.movingCircle {
    background: #0e60b3;
    border: 1px solid var(--border);
    z-index: 600;
    transition: top 0.3s ease;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    width: 70%;

   
}






