.card {
    width: 100%;
    background-color: var(--divBackground);
    border-radius: 10px;
    border: 1px solid #0e60b3;
    color: var(--color);
    padding: 25px;

    position: relative;
    overflow: hidden;
    /* required for shine */
}

/* PREMIUM static gloss shine (best for Experience section) */
.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.07) 0%,
            rgba(255, 255, 255, 0.02) 40%,
            rgba(255, 255, 255, 0.10) 80%);
    pointer-events: none;
}

.organizationAndDateContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.organizationContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}

.organizationContainer>img {
    width: 1.5rem;
    height: 1.5rem;
}

.organization {
    color: #0e60b3;
    font-weight: 800;
}

.date {
    font-weight: 800;
}

ul {
    padding-left: 25px;
}