.heroSection{
    position: sticky;
    background: var(--heroBackground);
    top:0;
    left: 0;
    min-height: 100vh;
    padding: 30px;
    z-index: 1;
}
.heroSection > div{
    margin-top: 20vh;
}

.name {
    font-family: "Doto", sans-serif;
    color: var(--color2);
    font-size: 3.5rem;
    margin-bottom: 0;
    line-height: 1.2;
    text-align: center;
    font-weight: 900;

}

.briefIntro{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    margin:10px auto ;
    text-align: center;
    line-height: 1.5;
}
.buttonsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}
.button{
    position: relative;
    border: 1px solid white;
    padding: 10px 20px;
    width: 130px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
.hireMeBtn{
    background-color: white;
    color: black;
   
}

.hireMeBtn:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.resumeBtn{
    background-color: transparent;
    color: white;
}

.resumeBtn:hover{
    background-color: white;
    color: black;
    border-color: white;
}