.heroSection{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--heroBackground);
    min-height: 100vh;
    padding: 30px;
}

.contentContainer{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.scrollDownArrowContainer{
    height: 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex; 
    align-items: flex-start;
    justify-content: center;
}

.scrollDownArrowContainer > a{
    text-decoration: none;
    color: var(--color1);
    cursor: pointer;
}

.name {
    font-family: "Doto", sans-serif;
    color: var(--color2);
    font-size: 3.5rem;
    margin-bottom: 0;
    line-height: 1.2;
    text-align: center;
    font-weight: 900;

}

.briefIntro{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    margin:10px auto ;
    text-align: center;
    line-height: 1.5;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid white;
    padding: 10px 0px;
    width: 130px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.button > span{
    font-size: 1rem;
}

.hireMeBtn{
    background-color: white;
    color: black;
   
}

.hireMeBtn:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.resumeBtn{
    background-color: transparent;
    color: white;
}

.resumeBtn:hover{
    background-color: white;
    color: black;
    border-color: white;
}


@media(max-width:600px){
    .button{
        width: 120px;
    }
}







