.projectCard {
    background-color: var(--divBackground);
    display: flex;
    align-items: center;
    gap:50px;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #0e60b3;
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
    padding: 20px 10px;
    margin-top: 30px;
}

.projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(14, 96, 179, 0.3);
}

.projectPicture {
    width: 100%;
    height: 100%;
    border: 5px solid #0e60b3;
    border-radius: 10px;
    object-fit: cover;
}



.sliderContainer {
    position: relative;
    width: 40%;
    overflow: hidden;
}
.imagesContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    
}

.prevArrow {
    left: 10px;
}

.nextArrow {
    right: 10px;
}
.prevArrow,.nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    padding: 5px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    user-select: none;
}


.dotsContainer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.dot {
    height: 10px;
    width: 10px;
    background: black;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
}

.activeDot {
    opacity: 1;
    background: #0e60b3;
}



.projectDescriptionContainer {
    display: flex;
    flex-direction: column;
    width: 50%;

}


.descriptionTitle {
    text-align: center;
    margin-bottom: 0px;
}

.technologiesUsedContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.technologiesUsedContainer>div {
    flex: 1;
    background-color: var(--bg);
    color:var(--color1);
    padding: 5px 10px;
    text-align: center;
}

.projectCardBtnsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.projectCardBtnsContainer>a {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 0;
}

.viewProjectBtn {
    background:var(--projectLiveDemoBtn) ;
    color: var(--buttonTextColor1);
}

.viewSourceCodeBtn {
    background:var(--projectViewSourceCodeBtn);
    color: var(--buttonTextColor2);
}





@media(max-width:900px){

    .projectCard {
        padding:15px;
 
    }

    .sliderContainer {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .projectDescriptionContainer {
        width: 100%;
        padding: 0;
    }


}