.skillsSection {
    background: var(--bg);
    padding: 50px 20px;

    text-align: center;
}



.sliderContainer {
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px;
}

.slider1,
.slider2,
.slider3 {
    display: flex;
    align-items: center;
    gap: 30px;
    width: max-content;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.slider1 {
    animation-name: scrollLeft;
}

.slider2 {
    animation-name: scrollRight;
}

.slider3 {
    animation-name: scrollLeft;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 0.9rem;
    color: var(--color);
    cursor: default;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill i {
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: #0e60b3;
    transition: transform 0.3s ease, color 0.3s ease;
}

.skill span {
    font-size: 0.9rem;
    font-weight: 500;
}


.skill:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(14, 96, 179, 0.4);
}

.skill:hover i {
    color: #1fa2ff;
    transform: scale(1.2);
}


@media (max-width: 900px) {

    .slider1,
    .slider2,
    .slider3 {
        gap: 20px;
    }

    .skill {
        width: 100px;
    }

    .skill i {
        font-size: 0.9rem;
    }
}