.aboutSection {
    background: var(--bg);
    padding: 60px 30px;
    animation: fadeIn 0.8s ease forwards;
    opacity: 0;
}

.aboutSectionContentContainer {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.locationContainer{
    display: flex;
    align-items: center;
    gap:10px;
    color:var(--color);
    background-color: transparent;
    padding: 10px;
    width: fit-content;
    border: 1px solid #0e60b3;
    border-radius: 50px;
}

.aboutSectionContentContainer>div {
    width: 60%;
    min-width: 280px;
    animation: slideUp 1s ease forwards;
    opacity: 0;
    animation-delay: 0.3s;
}

.profilePicture {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    border: 3px solid #0e60b3;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
    object-fit: cover;
    margin-bottom: 20px;
    transition: filter 0.3s ease, transform 0.3s ease;
    animation: popIn 0.9s ease forwards;
    opacity: 0;
}


.profilePicture:hover {
    filter: grayscale(100%);
    transform: scale(1.03);
 
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .aboutSectionContentContainer>div {
        width: 100%;
    }

    .profilePicture {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }


}