.headerSection{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    color:var(--color2);
    background-color: transparent;
    backdrop-filter: blur(50px);
    width: 100%;
    height: 60px;
}

.headerContainer{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navLinksContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:25px;
    padding-right: 30px;
    width: fit-content;
}

.navLink{
    text-decoration:none;
    color: var(--color2);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

.navLink:hover{
    color:#0e60b3;
}

.logo{
    width: 2rem;
    height: 2rem;
}

.logoContainer{
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 30px;
}

.toggleThemeBtn,.menuBtn,.logo{
    cursor:pointer;
}

.menuBtn{
    display:none;
}

.mobileMenu{
    transform: translateY(-100vh);
    background-color: var(--bg);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    transition: transform 0.7s ease-in-out;
}

.activeMobileMenu{
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

.menuOptionsContainer{
    padding: 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:35px;
    height: 100%;
}

.mobileMenuOption{
    text-decoration:none;
    color: var(--color1);
    cursor: pointer;
    font-weight: 500;
}

@media(max-width:900px){
    .navLink{
        display: none;
    }

    .menuBtn {
        display: block;
    }

    .logoContainer {
        padding-left: 20px;
    }

    .navLinksContainer {
        gap: 17px;
        padding-right: 20px;
    }

    .headerSection {
        background-color: rgba(0,0,0,0.5);
    }
}