.footerSection{
    background: var(--footerBackground);
    width: 100%;
    backdrop-filter: blur(50px);
    padding-top: 10px;
    height:150px ;

}

.footerSection > div{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logoContainer{
    padding-left: 30px;
    display: flex;
    align-items: center;
    width: fit-content;

}

.logo{
    width: 2rem;
    height: 2rem;
}

.socialIconsContainer {
    width: fit-content;
    display: flex;
    gap: 25px;
    padding-right: 30px;
}

.socialIcon {
    color: var(--color);
    background-color:transparent;
    backdrop-filter: blur(5px);
    font-size: 0.7em;
    padding: 7px;
    border-radius: 10px;
}

.socialIcon:hover{
    transform: scale(1.2);
}

.copyRightContainer{
    text-align: center;
    margin: 2em;
    font-size: 0.8em;
}

.horizontalRule{
    display: block;
    height: 1px;
    border: 0;
    background:linear-gradient(to right,transparent,var(--horizontalRuleColor),transparent);
}

@media(max-width:900px){

    .logoContainer{
        padding-left: 20px;
    }
        
    .socialIconsContainer{
        gap: 17px;
        padding-right: 20px;
    }

}