.footerSection{
    background: var(--footerBackground);
    width: 100vw;
    backdrop-filter: blur(50px);
    padding-top: 10px;
    height:150px ;

}
.footerSection > div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nameContainer{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;

  
}
.socialIconsContainer {
    width: fit-content;
    display: flex;
    gap: 1rem;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;

}

.socialIcon {
    color: var(--color);
    background-color:transparent;
    backdrop-filter: blur(5px);
    font-size: 0.7em;
    padding: 6px;
    border-radius: 10px;

}
.socialIcon:hover{
    transform: scale(1.2);
}
.copyRightContainer{
    text-align: center;
    margin: 2em;
    font-size: 0.8em;
}
.horizontalRule{
    display: block;
    height: 1px;
    border: 0;
    background:linear-gradient(to right,transparent,var(--horizontalRuleColor),transparent);
}
.logo {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
}

@media(max-width:900px){

    .nameContainer{
        margin-left: 10px;
    }
        
    .socialIconsContainer{
        margin-right: 10px;
    }

}