
* {
  box-sizing: border-box;
  outline: 2px solid red;
}

:root {
  font-size: 19px;
  --pixelColor:rgba(118, 120, 165, 0.1);
  --heroBackground: linear-gradient(to top left, #0e60b3, #ffffff);
  --bg: #edf2fc;
  --footerBackground: rgb(170, 169, 169);
  --border: #0e60b3;
  --horizontalRuleColor: rgba(0, 0, 0, 0.6);
  --color1: #000000; 
  --color2: #000000; 
  --buttonColor: #62a9f0;
  --buttonTextColor1: #000000;
  --buttonTextColor2: #ffffff;
  --projectLiveDemoBtn: linear-gradient(to top left, #0e60b3, rgba(235,235,235,0.5));
  --projectViewSourceCodeBtn: #000000;
}

:root[data-theme="dark-mode"] {
  --heroBackground: linear-gradient(to top left, #0e60b3, #000000);
  --pixelColor: rgba(12, 15, 56, 0.1);
  --bg: #0a0a0a;
  --footerBackground: #000000;
  --border: #0e60b3;
  --horizontalRuleColor: rgba(255, 255, 255, 0.6);
  --color1: #d0d0d0;
  --color2: #ffffff;
  --buttonColor: #0e60b3;
  --buttonTextColor1: #ffffff;
  --buttonTextColor2: #000000;
  --projectLiveDemoBtn: linear-gradient(to top left, #0e60b3, #141414);
  --projectViewSourceCodeBtn: #ffffff;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: var(--color1);
  font-size: 1rem;
}

#main {
  position: relative;
  font-family: "PT Sans", sans-serif;
  color: var(--color1);
}

.sectionHeading {
  margin-bottom: 0;
  font-family: "Doto", sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  text-align: center;
  color: var(--color2);
}

.title {
  color: var(--color2);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

@media (max-width: 610px) {
  :root {
    font-size: 14px;
  }
}
